body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Lato', sans-serif;
	background: url('images/bbx_background.png');
	background-attachment: fixed;
	background-size: 100%;
	max-width: 100%;
	min-width: 100%;
}

.w3-content.w3-section {
	position: relative;
}

#bkimg {
	background-size: cover;
	background-position: center;
	background-image: url(images/carousel/slide20.jpg);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.w3-animate-fading {
	-webkit-animation: fading 10s infinite;
	animation: fading 10s infinite;
	position: relative;
	z-index: 9999;
}

.w3-animate-fading {
	-webkit-animation: fading 10s infinite;
	animation: fading 10s infinite;
	position: relative;
	z-index: 9999;
}

@
-webkit-keyframes fading { 0%{
	opacity: 0
}

100%{
opacity
:
1
}
}
@
keyframes fading { 0%{
	opacity: 0
}

100%{
opacity
:
1
}
}
.mySlides, #bkimg {
	border: 1px solid rgb(231, 240, 83);
	border-radius: 5px;
}
